.col-sm-4 {
    background-color: #203752;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-name {
    font-size: 5rem;
    margin-bottom: 10px;
    border-bottom: 5px solid #9e701e;
    padding-left: 20px;
    animation: 2s fadein;
    color: white;
}

.card-number {
    align-self: flex-start;
    margin-bottom: 20px;
    font-size: 2rem;
    animation: 1s fadein;
    color: white;
}

.card-description {
    font-size: 1.5rem;
    margin-bottom: 30px;
    animation: 1s fadein;
    color: white;
}

.card-creator {
    color: rgb(169, 169, 169);
    animation: 1s fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
