.vertical-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    box-shadow: 2px 0px 10px rgb(94, 94, 94);
}

.nav-element {
    margin-top: 10px;
    cursor: pointer;
}
